node_modules/
.env
mongo-data/
.claude/
.claude
android/SmartLockerDemo/.gradle/
android/SmartLockerDemo/.idea/
android/SmartLockerDemo/build/
android/SmartLockerDemo/app/build/
android/SmartLockerDemo/local.properties
android/SmartLockerDemo/app/google-services.json
android/SmartLockerDemo/app/src/main/java/google-services.json
